.category-button {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 256px;
}

.category-button-image {
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background: pink;
    color: white;
    background-size: cover;
    background-position: center;
}

/* TODO: Standardize color scheme */
.category-button-label {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #231F20;
    color: #FDF7EB;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
}
